# This file is part of django-unused-media.
# https://github.com/akolpakov/django-unused-media

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2015, Andrey Kolpakov <aakolpakov@gmail.com>

[run]
omit =
    *tests.py
branch = True
source =
    django_unused_media

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
